@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
html, body, .App, #root {
  height: 100%; }

.first-screen {
  display: flex;
  height: 100%;
  background: url(../_img/index-bg.jpg) no-repeat center;
  background-size: cover; }

.flex {
  display: flex; }

.flex-grow-2 {
  flex-grow: 2; }

.mb-6 {
  margin-bottom: 9rem; }

.z-999 {
  z-index: 999; }

.w-100vw {
  width: calc(100vw - 17px); }

.s-dark {
  background-color: #f1f1f1; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }

.logo-image {
  width: 50px; }

.nav-tr {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.icon {
  margin: 10px;
  opacity: 0.7;
  cursor: pointer; }

.nav-icon {
  width: 25px; }

.icon:hover {
  opacity: 1; }

.nav-dark {
  background-color: #0a0e17; }

.search-field {
  display: inline-block;
  width: 300px;
  transition: width 0.4s linear, opacity 0s linear; }

.search-field-invisible {
  width: 0;
  opacity: 0;
  transition: width 0.4s linear, opacity 0.14s linear 0.3s; }

.down-icon {
  width: 50px; }

.card-300 {
  max-width: 300px;
  width: 100%; }

.br-50 {
  border-radius: 50%;
  border: solid 5px #ffffff; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px; }

.slick-next:before, .slick-prev:before {
  color: #000; }

.slick-list {
  text-align: center; }

.text-cursive {
  font-family: "Indie Flower", cursive; }

.aboutLit p {
  font-size: 1.5rem;
  line-height: 2rem; }

.monospaced {
  font-family: "SFMono-Regular", monospace;
  color: #bd4147; }

.bg-grey {
  background: gainsboro; }

.f-9 {
  font-size: 0.9rem; }

.do-smth-grt {
  width: 100%;
  height: 500px;
  background-image: url(../_img/do-smth-grt.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  -ms-background-position-y: center;
  background-position-y: center; }

.file_upload {
  position: absolute;
  top: 0;
  visibility: hidden; }

.search .form-group {
  margin: 0 !important; }

.w-300 {
  width: 300px; }

.w-150 {
    width: 150px;
}

button {
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.img-2 {
  height: 1.5rem; }

.react-tagsinput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }

.react-tagsinput--focused {
  border-color: #80bdff;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.react-tagsinput-tag {
  background-color: #5bc0de;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px; }

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold; }

.react-tagsinput-tag a::before {
  content: " ×"; }

.react-tagsinput-input {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  color: #495057; }

* {
  font-family: "PT Sans", sans-serif; }

/*# sourceMappingURL=base.css.map */
